<form action="/cases" method="POST" class='csv-form'>
  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
  
  <ul>
    <li><h2>Dates</h2></li>
    <li><label>From:</label><input type="date" name="start" /> </li>

    <li><label>To:</label> <input type="date" name="complete" value="<%=Date.today%>"/> </li>

    <li><label>CSV</label> <input type="radio" name="format" value="csv" /> </li>
    <li><label>Excel</label> <input type="radio" name="format" value="xlsx" checked /> </li>

  <li><button>Download File</button></li>
  </ul>
</form>


