<form action="/cases" method="POST" class='csv-form'>
  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
  
  <ul>
    <li><h2>Dates</h2></li>
    <li><label>From:</label><input type="date" name="start" /> </li>

    <li><label>To:</label> <input type="date" name="complete" /> </li>

  <li><button>Download CSV file</button></li>
  </ul>
</form>


