<h1>Full Access Housing CSV Data</h1>

<form action="/cases" method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
  
  <label>
    From: <input type="date" name="start" />
  </label>

  <label>
    To: <input type="date" name="complete" />
  </label>

  <button>Submit</button>
</form>


