body{
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(0,0,0,.85);
    background-color: #ecf0f1;
    padding-left:100px;
    padding-right:100px;
    overflow:hidden;
    border-top: 10px solid rgb(140,16,12);
}
h1 a{
  text-decoration: none;
  color: rgba(0,0,0,.85);
}
h1 {
    font-weight: bold;
    font-size: 70px;
}
header {
    margin-top: 15px;
}

header p{
    margin-left: 10px;
    font-size: 20px;
}

h2 {
  font-weight: bold;
  font-size: 15px
}

nav {
  float: right;
}

nav ul li {
  display: inline;
  padding-right: 16px;
}

nav ul li a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(140,16,12);
}

img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    position: absolute;
    left: 100%;
    top: 20%;
    height: 800px;
    width: 600px;
    margin-left: -350px;
    z-index: -100;

}

.csv-form h2{
    margin-left:40px;
}


.csv-form ul{
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

.csv-form li{
    padding:12px; 
    /* border-bottom:1px solid black; */
    position:relative;
}

.csv-form label {
    width:100px;
    margin-top: 3px;
    display:inline-block;
    text-align:right;
    float:left;
    padding:3px;
}

.csv-form input {
    height:20px; 
    width:220px; 
    padding:5px 8px;
}
.csv-form button {
    margin-left:40px;
    color: rgb(140,16,12);
    font-size: 15px;
}

/* .csv-form li:first-child, .csv-form li:last-child { */
/*     border-bottom:1px solid #777}; */
/* } */

footer {
    width: 1050px;
    padding-top: 390px;
    font-style: italic;
    color: rgb(140,16,12);
}

